.line {
    background-color: #b31414;
    height: 1rem;
}

.bar {
    background-color: #f9f8fd;
    height: 7rem;
}

.nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
}

.brand {
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9rem;
}

a {
    text-decoration: none;
}

#about,
#product,
#community,
.request {
    min-height: 30vh;

}

.presentation {

    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ff9100;
    text-shadow: 0 1px 0 #ff4949, 0 2px 0 #ff7777, 0 3px 0 #ffbbbb, 0 4px 0 #9f5b53, 0 1px 0 #b31414, 0 3px 3px rgba(38, 50, 56, 255);
}

.paragraphsAbout {
    margin-left: 1.5rem;
}

.paragraphs,.paragraphsAbout, .paragraphsCommunity {
    font-family: "Noto Serif", serif;
}

.presentationCaro,
.presentationC {
    filter: drop-shadow(0 0 3px #b31414);
    width: 650px;
    height: 650px;
}

.presentationC {
    margin-left: 20rem;
}

.button-3d{
    min-width: 150px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #ff9100;
    box-shadow: 0 5px #b31414;
}

.button-3d:hover {
    box-shadow: 0 3px #b31414;
    top: 1px;
}

.button-3d:active {
    box-shadow: 0 0 #b31414;
    top: 5px;
}

.buttonLink {
    color: #fff;
    text-decoration: none;
}

.item {
    font-size: 2.5rem;
    color: #ff9100;
    filter: drop-shadow(0 0 1px #ff9100);
}

.caption,
span {
    color: #b31414
}

.title {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 27px;
    color: #ff9100;
    text-shadow: 0 1px 0 #ff4949, 0 2px 0 #ff7777, 0 3px 0 #ffbbbb, 0 2px 0 #9f5b53, 0 2px 0 #b31414, 0 2px 1px rgba(38, 50, 56, 255);
}

.presentationCaro {
    margin-left: 5rem;
}

.footerText {
    background-color: #ff9100
}

@media (max-width: 576px) {

    .brand {
        display: none;
    }
   
    .presentation{
        font-size: xx-large;
    }
    #about,
    #product,
    #community,
    .request,
    .paragraphsAbout,
    .presentationC {
        margin: 0;
        width: 100%;
    }

    .presentationCaro {
        margin-left: 0rem;
        width: 250px;
        height: 250px;
    }
    .button-3d {
        margin-left: 6.4rem;
    }
    
    .presentationC{
        width: 410px;
        height: 410px;

    }
    .register {
        padding: 1.5rem;
    }
}

@media (min-width: 768px) {
    .presentationCaro {
        width: 100%;
        margin-left: 4rem;
    }
    
    #about,
    #product,
    #community,
    .request,
    .paragraphsAbout,
    .presentationC {
        margin: 0;
        width: 100%;
    }

     .presentationCaro{

        width: 100%;
        margin-right: 2rem;
    } 

    .button-3d {
        margin-left: 22.5rem;
    }

    .paragraphsCommunity{
        margin-left: 2.5rem;
    }
    .presentationC {
        margin-left: 3rem;
    }
}
@media (min-width: 992px) {
  
    
    .presentationCaro,
    .presentationC {
        filter: drop-shadow(0 0 3px #b31414);
        width: 650px;
        height: 650px;
    }
    .paragraphsCommunity{
        margin-left: 5rem;
    }
    .presentationC {
        margin-left: 20rem;
    }
    .button-3d {
        margin-left: 8rem;
    }
   
 }